# Default ignored files
/../../ images_links.html./.idea/shelf/
/../../ images_links.html./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ images_links.html./.idea/httpRequests/
# Datasource local storage ignored files
/../../ images_links.html./.idea/dataSources/
/../../ images_links.html./.idea/dataSources.local.xml
